{% extends 'base.html.twig' %}


    {% block title %}List of books{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        <h1>Summary of the books</h1>
    {% endif %}

    {% if is_granted('ROLE_USER') %}
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Member</th>
                    <th>Club name</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
        {% endif %}
        {% for book in books %}
            {% if is_granted('ROLE_USER') %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.user }}</td>
                <td>{{ book.clubName }}</td>

                <td>
                    <a href="{{ path('book_show', {'id': book.id}) }}">show</a>
                {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('book_edit', {'id': book.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('book_new') }}">Create new</a>
    {% endif %}
{% endblock %}
