{% extends 'base.html.twig' %}

{% block title %}Join a club{% endblock %}

{% block body %}
    <h1>Here are the list of Clubs, feel free to join any!</h1>

    <table class="table">
        <thead>
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                <th>Id</th>
                {% endif %}
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for club in clubs %}
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                <td>{{ club.id }}</td>
                {% endif %}
                <td>{{ club.name }}</td>
                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('club_show', {'id': club.id}) }}">show</a>
                        <a href="{{ path('club_edit', {'id': club.id}) }}">edit</a>
                    {% endif %}

                    {% if is_granted('ROLE_USER') %}
                        <a onclick="alert('Thank you for joining')" href="{{ path('club_join', {'id': club.id}) }}">Join</a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a onclick="alert('Accepted')" href="{{ path('club_join', {'id': club.id}) }}">Accept</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('club_new') }}">Create new</a>
    {% endif %}
{% endblock %}
