{% extends 'base.html.twig' %}

{% block title %}Club{% endblock %}

{% block body %}
    <h1>Club</h1>



    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ club.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ club.name }}</td>
            </tr>
            <tr>
                <th>Members</th>
                <td>{{ club.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('club_index') }}">Leave club</a>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('club_edit', {'id': club.id}) }}">edit</a>
    {% endif %}

    <hr>
    <div>No Suggestion for a book yet.</div>

    <h2>Suggest a book for the year</h2>


    <form name="comment_form" method="post" enctype="multipart/form-data">
        <div id="comment_form">
            <div >
                <label for="comment_form_authorName" class="required">Your name</label>
                <input type="text" id="comment_form_authorName" name="comment_form[authorName]" required="required" maxlength="255" />
            </div>
            <div>
                <label for="comment_form_email" class="required">Email</label>
                <input type="email" id="comment_form_email" name="comment_form[email]" required="required" />
            </div>
            <div>
                <label for="comment_form_text" class="required">Comment</label>
                <textarea id="comment_form_text" name="comment_form[text]" required="required"></textarea>
            </div>
            <div>
                <label for="comment_form_Club">Club</label>
                <input type="text" id="comment_form_Club" name="comment_form[club]" required="required" />
            </div>
            <div>
                <input type="submit" value="submit">
            </div>

            <input type="hidden" id="comment_form__token" name="comment_form[_token]" value="DwqsEanxc48jofxsqbGBVLQBqlVJ_Tg4u9-BL1Hjgac" />
        </div>
    </form>


    {% if is_granted('ROLE_ADMIN') %}
        {{ include('club/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
